/* 초기화 */
*{
    margin: 0;
    padding: 0;
    font: normal 12px '돋움';
  }

  ul,ol{list-style: none;}
  a{text-decoration: none, color: #111;}

/* 공통 */
#wrapper{
  width: 980px;
  height: auto;
  margin: 0 auto;
}

/* 헤더 */
header{
  position: relative;
  width: 100%;
  height: 180px;
  min-width: 980px;
}
header > .logo{
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: -135px;
}
header > .gnb{
  position: absolute;
  left: 0;
  top: 90px;
  width: 100%;
  height: 50px;
}
header > .gnb > li{
  float: left;
  overflow: hidden;
  width: 20%;
  height: 100%;
  border-left: 2px solid black;
  box-sizing: border-box;
  background-position-x: 50%;
  background-position-y: 6px;
  background-repeat: no-repeat;
}
header > .gnb > li > a{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;

}
header > .gnb > li > ul{
}
header > .gnb > li > ul > li{
  float: left;
  width: 45%;
  height: 20px;
}
header > .gnb > li > ul > li > a{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;

}
header > .gnb > li:nth-child(1){ background-image: url('../img/nav_btn_intro.jpg');}
header > .gnb > li:nth-child(2){background-image: url('../img/nav_btn_picture.jpg');}
header > .gnb > li:nth-child(3){background-image: url('../img/nav_btn_info.jpg');}
header > .gnb > li:nth-child(4){background-image: url('../img/nav_btn_map.jpg');}
header > .gnb > li:nth-child(5){background-image: url('../img/nav_btn_reservation.jpg');}

header > .gnb > li:nth-child(1):hover{background-image: url('../img/head_menu1_ov.png');}
header > .gnb > li:nth-child(2):hover {
  background-image: url('../img/head_menu2_ov.png');
  overflow: visible;
}
header > .gnb > li:nth-child(3):hover{background-image: url('../img/head_menu3_ov.png');}
header > .gnb > li:nth-child(4):hover{background-image: url('../img/head_menu4_ov.png');}
header > .gnb > li:nth-child(5):hover{background-image: url('../img/head_menu5_ov.png');}

header > .gnb > li > ul > li:nth-child(1){
  background-image: url('../img/nav_btn_picture.jpg');
  background-position: center;
}
header > .gnb > li > ul > li:nth-child(2){
  background-image: url('../img/nav_btn_picture.jpg');
  background-position: center;
}

/* 메인 */
main{
  width: 100%;
  height: auto;
}
main > div{
  width: 600px;

}
main > .main_slider{
  height: 400px;
  left: 50%;
  position: relative;
  overflow: hidden;
  margin-left: -300px;
  margin-top: 50px;
  margin-bottom: 100px;
}
main > .main_slider > ul{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main > .main_slider > ul > li{position: absolute;}
main > .main_slider > ul > li:nth-child(1){left: 0; top: 0;}
main > .main_slider > ul > li:nth-child(2){left: 100%; top: 0;}
main > .main_slider > ul > li:nth-child(3){left: 200%; top: 0;}
main > .main_slider > ul > li:nth-child(4){left: 300%; top: 0;}
main > .main_slider > ul > li:nth-child(5){left: 400%; top: 0;}
main > .main_slider > img{
  position: absolute;
  left: 30px;
  top: 40px;
}
/* 푸터*/
footer{
  float: bottom;
  text-align: center;
  margin-top: 20px;
  width:100%;
  height: 120px;
}


/*  intro page*/
.intro{
  position: relative;
  left: 50%;
  margin-left: -375px;
  width: 750px;
  height: 800px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.introduce{
  position: absolute;
  width: 50%;
  height: 300px;
  background-image: url('../img/intro_text.jpg');
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 30px;
}
.reserve{
  position: absolute;
  left: 50%;
  width: 50%;
  height: 300px;
  background-image: url('../img/intro_time.jpg');
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 30px;
}
.picture{
  position: absolute;
  width: 100%;
  height: 500px;
  top: 300px;
  background-image: url('../img/intro_img.jpg');
}
/* picture page */
.back {
  width: 100%;
  height: auto;
}
.pic_fam_header{
  width: 100%;
  text-align: center;
  padding: 2em 0;
  margin-bottom: 20px;
  background: #eee;
}
.p_main_img{
  width: 100%;
  height: auto;
}
.p_main_img > ul{
  text-align: center;
  display: block;
}
.p_main_img > ul > li{
  display: inline-block;
  margin: 7px;
  width: 30%;
  height: 250px;
  border: 1px solid black;
}
/* map page */
  #sub{
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
  }
  #sub > div {
    display: inline-block;
    width: 720px;
    height: auto;
  }
  .mapinfo > div:nth-child(1){

  }
  .mapinfo > div:nth-child(1) > p{
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    text-align: left;
    margin: 15px;
    border-bottom: 1px solid black;
  }
  .mapinfo > div:nth-child(2) > p{
    text-align: left;
    font-family: 'Cute Font', cursive;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
  }

/*info page*/
.back {
  width: 100%;
  height: auto;
}
.back > .info_header{
  width: 100%;
  text-align: center;
  padding: 2em 0;
  margin-bottom: 20px;
  background: #eee;
}
.back > .info_header > h2{
  font-size: 1.63em;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: -0.05em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  line-height: 1.1;
  color: inherit;
}
.back > div {
  width: 750px;
  display: block;
  margin: auto;
}
.back > div > h3 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
}
.back > div > p {
  font-family: 'Noto Serif KR', serif;
}
.title {
  width: 750px;
  padding: 1em;
  background: #e5e5e5;
}

.cont > p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding: 0.3em 0 0 20px;
  line-height: 1.8em;
}
